{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<html lang="en" style="height:100%">
<head>
<title>Word Cloud for ptt</title>
<!-- Bootstrap core CSS -->
<link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
</head>


<body style="height:90%" >
    <div class="row" >
        <div class='col-md-3 '>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input id='date_input' type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        {% if P_N == -1 %}
        <div class="col-md-3 text-center" ><a class="btn btn-default">Frist_page</a></div>
        {% else %}
        <div class="col-md-3 text-center" ><button type="button" class="btn btn-primary" onclick="Prev()" >Prev_pgae</button></div>
        {% endif %}
        {% if P_N == 1 %}
        <div class="col-md-3 text-center" ><a class="btn btn-default">Frist_page</a></div>
        {% else %}
        <div class="col-md-3 text-center" ><button type="button" class="btn btn-primary" onclick="Next()" >Next_pgae</button></div>
        {% endif %}
        <div class="col-md-3 text-center" style="font-size:25px" >Current page : {{index_info}}  </div>
    </div>


    <div class="row" style="height:100%">
        <div class="col-md-8 col-md-offset-2" style="height:80%">
            <img style="height:100% " class="center-block img-responsive" src="{{STATIC_PREFIX}}{{pic_path}}" alt="My image"/>
        </div>
    </div>
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src={% static "polls/jquery-3.1.1.min.js"%} ></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}></script>
<script>
var date ="{{date}}";
var id =parseInt("{{id}}");
//console.log('http://140.113.179.7:3344/pttWeb/if/'+(id+1)+"/"+date)
//console.log('http://140.113.179.7:3344/pttWeb/if/'+(id-1)+"/"+date)

// these are used for datetimepicker
$(function () {
        $('#datetimepicker6').datetimepicker();
        });
$('#datetimepicker6').on('changeDate', function(ev){
        console.log($("#date_input").val())
        });

function Next() {
        window.location.href = 'http://140.113.179.7:3344/pttWeb/if/'+(id+1)+"/"+date
}

function Prev() {
        window.location.href = 'http://140.113.179.7:3344/pttWeb/if/'+(id-1)+"/"+date
}
// these are used for datetimepicker

</script>
</html>
