{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<html lang="en" style="height:100%">
<head>
<title>Word Cloud for ptt</title>
<!-- Bootstrap core CSS -->
<link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
<link href={% static "bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %} rel="stylesheet">
</head>


<body style="height:90%" >
    <div class="row" >
        <div class="col-md-4 text-center" ><button id="PrevBtn"  type="button" class="btn btn-primary" style="margin-bottom: 2px;" onclick="Prev()">Prev_pgae</button></div>
        <div class='col-md-4 '>
            <div class="form-group">
                <div class="input-group date form_date" data-date="" data-date-format="yyyy/mm/dd" >
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>            
        </div>
        <div class="col-md-4 text-center" ><button id="NextBtn" type="button" class="btn" style="margin-top: 2px;">Next_pgae</button></div>
    </div>


    <div class="row" style="height:100%">
        <div class="col-md-8 col-md-offset-2" style="height:80%">
            <img style="height:100% " class="center-block img-responsive" src="{{STATIC_PREFIX}}{{pic_path}}" alt="My image"/>
        </div>
    </div>
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src={% static "polls/jquery-3.1.1.min.js"%} ></script>
<script type="text/javascript" src={% static "polls/moment.min.js"%} ></script>
<script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<script type="text/javascript" src={% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}></script>



<script type="text/javascript">
//variables used to open url
var cur_idx=0;
var date ="{{date}}";

var week_img_list={{ week_img_list|safe }}
var date_list = week_img_list.map(function(value,index) { return value[1]; });
// ------------ date setting -----------------
$('.form_date').datetimepicker({
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    daysOfWeekDisabled: [0,1,2,3,5,6]    
});
start_date=week_img_list[week_img_list.length - 1][1]

$('.form_date').datetimepicker('setDate', new Date(date) );
$('.form_date').datetimepicker('setStartDate', new Date(start_date));
$('.form_date').datetimepicker('setEndDate', new Date(date));

$('.form_date').on('changeDate', function(ev){
    var date_str=$(".form-control").val();
    console.log("you are selecting date : "+date_str);
    cur_idx=date_list.indexOf(date_str);

    console.log("image location replaced ,id : "+cur_idx);
    date=week_img_list[cur_idx ][1]
    $('.form_date').datetimepicker('setDate', new Date(date) );
    $('img').attr('src','/static/'+week_img_list[cur_idx][0]);

    if(cur_idx==week_img_list.length-1){
        $('#NextBtn').attr('class',"btn btn-primary");
        $('#NextBtn').attr('onclick',"Next()");
        $('#PrevBtn').attr('class',"btn");
        $('#PrevBtn').attr('onclick',"");
    }else if(cur_idx==0){
        $('#NextBtn').attr('class',"btn");
        $('#NextBtn').attr('onclick',"");
        $('#PrevBtn').attr('class',"btn btn-primary");
        $('#PrevBtn').attr('onclick',"Prev()");
    }else{
        $('#NextBtn').attr('class',"btn btn-primary");
        $('#NextBtn').attr('onclick',"Next()");
        $('#PrevBtn').attr('class',"btn btn-primary");
        $('#PrevBtn').attr('onclick',"Prev()");
    }
    /*
    var date_list=date_str.split('.');
    if(parseInt(date_list[1])<10){
        var date_selected = date_list[0]+'.'+parseInt(date_list[1])+'.'+date_list[2];
    }else{
        var date_selected = date_str;
    }
    window.location.href = 'http://140.113.179.7:3344/pttWeb/if/1/'+date_selected;*/
});
// ------------ date setting -----------------


// ----------- button setting ----------------
function Next() {
    //enable Prev_page
    if(cur_idx==week_img_list.length-1){
        $('#PrevBtn').attr('class',"btn btn-primary");
        $('#PrevBtn').attr('onclick',"Prev()");
    }
    cur_idx=cur_idx-1
    console.log("image location replaced ,id : "+cur_idx);
    date=week_img_list[cur_idx ][1]
    $('.form_date').datetimepicker('setDate', new Date(date) );
    $('img').attr('src','/static/'+week_img_list[cur_idx][0]);
    //disable the PrevBtn
    if(cur_idx==0){
        $('#NextBtn').attr('class',"btn");
        $('#NextBtn').attr('onclick',"");
    }
}

function Prev() {
    //enable Next_page
    if(cur_idx==0){
        $('#NextBtn').attr('class',"btn btn-primary");
        $('#NextBtn').attr('onclick',"Next()");
    }
    cur_idx=cur_idx+1
    console.log("image location replaced ,id : "+cur_idx);
    date=week_img_list[cur_idx ][1]
    $('.form_date').datetimepicker('setDate', new Date(date) );
    $('img').attr('src','/static/'+week_img_list[cur_idx][0]);
    //disable the PrevBtn
    if(cur_idx==week_img_list.length-1){
        $('#PrevBtn').attr('class',"btn");
        $('#PrevBtn').attr('onclick',"");
    }
}
// ----------- button setting ----------------


</script>


</html>
