{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<html lang="en" style="height:100%">
<head>
<title>Word Cloud for ptt</title>
<!-- Bootstrap core CSS -->
<link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
<link href={% static "bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %} rel="stylesheet">
<link href={% static "polls/style.css" %} rel="stylesheet">
</head>


<body style="height:100%" >
    <div class="row vertical-align" style="height:15%">
        <div class='col-md-3 col-sm-3 '>
            <div class="form-group">
                <div class="input-group date form_date" data-date="" data-date-format="yyyy.mm.dd" >
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>            
        </div>

        <div class="col-md-3 col-sm-3 text-center" >
            <button id="PrevBtn"  type="button" class="btn" style="margin-bottom: 2px;"
                >Prev_pgae
            </button>
        </div>
        <div class="col-md-3 col-sm-3 text-center" >
            <button id="NextBtn" type="button" class="btn btn-primary" onclick="Next()"  style="margin-top: 2px;">
                Next_pgae
            </button>
        </div>

        <div class="col-md-3 col-sm-3 text-center" style="font-size:20px" >
            Current page : 
            <span id="index_info">{{index_info}}</span> 
            <a id="article_url" target="_blank" href={{article_url}} class="badge">link</a>
        </div>
    </div>


    <div class="row" style="height:85%">
            <img id="article_img" style="height:100% " class="center-block img-responsive" src="{{STATIC_PREFIX}}{{pic_path}}" alt="My image"/>
    </div>
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src={% static "polls/jquery-3.1.1.min.js"%} ></script>
<script type="text/javascript" src={% static "polls/moment.min.js"%} ></script>
<script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<script type="text/javascript" src={% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}></script>



<script type="text/javascript">
//variables used to open url
var date ="{{date}}";
var id =parseInt("{{id}}");

//need to be given (2017/1/12)
var url_list={{ url_list|safe }}
var ammount={{ammount}}
//need to be given (2017/1/12)

// ------------ date setting -----------------
$('.form_date').datetimepicker({
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
});

$('.form_date').datetimepicker('setDate', new Date(date) );
$('.form_date').datetimepicker('setStartDate', new Date("{{startDate}}"));
$('.form_date').datetimepicker('setEndDate', new Date("{{endDate}}"));

$('.form_date').on('changeDate', function(ev){
    var date_str=$(".form-control").val();
    var date_list=date_str.split('.');
    if(parseInt(date_list[1])<10){
        var date_selected = date_list[0]+'.'+parseInt(date_list[1])+'.'+date_list[2];
    }else{
        var date_selected = date_str;
    }
    window.location.href = 'http://140.113.179.7:3344/pttWeb/if/1/'+date_selected;
});
// ------------ date setting -----------------


// ----------- button setting ----------------
function Next() {
    //window.location.href = 'http://140.113.179.7:3344/pttWeb/if/'+(id+1)+"/"+date;
    
    //enable the PrevBtn
    if(id==1){
        $('#PrevBtn').attr('class',"btn btn-primary");
        $('#PrevBtn').attr('onclick',"Prev()");
    }
    id=id+1
    console.log("image location replaced ,id : "+id);
    $('img').attr('src',"/static/worldcloud/"+date+"_"+(id)+".png");
    
    //replace index_info
    var index_info=id+'/'+ammount+'('+Math.round(id/ammount*100)+'% )';
    $('#index_info').html(index_info);
    
    //replace article url
    $('#article_url').attr('href',url_list[id-1]);

    //disable the NextBtn
    if(id==ammount){
        $('#NextBtn').attr('class',"btn");
        $('#NextBtn').attr('onclick',"");
    }
}

function Prev() {
    //window.location.href = 'http://140.113.179.7:3344/pttWeb/if/'+(id-1)+"/"+date;
    //enable the NextBtn
    if(id==ammount){
        $('#NextBtn').attr('class',"btn btn-primary");
        $('#NextBtn').attr('onclick',"Next()");
    }
    id=id-1
    console.log("image location replaced ,id : "+id);
    $('img').attr('src',"/static/worldcloud/"+date+"_"+(id)+".png");

    //replace index_info
    var index_info=id+'/'+ammount+'('+Math.round(id/ammount*100)+'% )';
    $('#index_info').html(index_info);

    //replace article url
    $('#article_url').attr('href',url_list[id-1]);

    //disable the PrevBtn
    if(id==1){
        $('#PrevBtn').attr('class',"btn");
        $('#PrevBtn').attr('onclick',"");
    }
}
// ----------- button setting ----------------

// ----------- device size to change img -----
function findBootstrapEnvironment() {
    var envs = ['xs', 'sm', 'md', 'lg'];
    var $el = $('<div>');
    $el.appendTo($('body'));

    for (var i = envs.length - 1; i >= 0; i--) {
        var env = envs[i];
        $el.addClass('hidden-'+env);
        if ($el.is(':hidden')) {
            $el.remove();
            return env;
        }
    }
}

if(findBootstrapEnvironment()=='sm'){
    $('#article_img').css('height',"60%");
}
// ----------- device size to change img -----
</script>


</html>
