{% load static %}

<html lang="en">
<head>
<title>野生 Template 練習 Loser</title>
<!-- Bootstrap core CSS -->
<link rel="shortcut icon" href={% static "polls/luicon.png" %}>
<link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
<link href={% static "polls/style.css" %} rel="stylesheet">
</head>


<body>
    <div class="row vertical-align" style="height:5%">
        <div class="col-md-4 col-sm-4 text-center" style="font-size:35px; cursor:hand" onclick=Gossip()>Gossip</div>
        <div class="col-md-4 col-sm-4 text-center" style="font-size:35px; cursor:hand" onclick=TopicModel()>TopicModel</div>
        <div class="col-md-4 col-sm-4 text-center" style="font-size:35px; cursor:hand" onclick=FoodBoard()>FoodBoard</div>
    </div>

    <hr>
    <div class="row" style="height:85%; ">
        <div id="If_size_ratio" class="embed-responsive col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" style="height:100%;">
            <iframe id="ifr_main" class="embed-responsive-item"  src="if/1" style="overflow:hidden " scrolling="no"></iframe>
        </div>
    </div>
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src={% static "polls/jquery-3.1.1.min.js"%} ></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>

<script>
function FoodBoard() {
    document.getElementById('ifr_main').src = 'http://140.113.179.7:3344/FoodBoard/';
}
function Gossip() {
    document.getElementById('ifr_main').src = 'http://140.113.179.7:3344/pttWeb/if/1';
}
function TopicModel() {
    document.getElementById('ifr_main').src = 'http://140.113.179.7:3344/pttWeb/topic';
}


</script>
</html>
